@charset "UTF-8";
/* CSS Document */

body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック体, YuGothic, メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    text-align: center;
}

/*メイン文ここから*/
h2{
    padding: 100px 0 20px;
    margin: 80px 0 30px;
    font-size: 26px;
}
h3{
    font-size:20px;
    margin: 10px 0;
}
.main{
    margin: 16px auto 40px;
    line-height: 1.5;
}
   
/*トップページに戻るボタン*/
#button{
    background-color: #DDD;
    border-radius: 5px;
    display: block;
    width: 300px;
    padding: 20px 0;
    margin: 20px auto 240px;
}
#button a{
    color: #000;
    text-decoration: none;
    display: block;
}
#button:hover{
    background-color: #EEE;
}
#button a:active{
    color: #555;
}





/*モバイル版設定600*/
@media(max-width:600px){  
.main{
    width: 80%;
    padding: 5px;
}
#button{
    width: 80%;    
    padding: 20px 10px;
    margin: 20px 0 100px;
}
h1{
    font-size: 30px;
}
h2{
    font-size: 20px;
}
.main p{
    font-size: 15px;
    text-align: left;
}
}
